<!-- 
This one should not be too bad. Just make sure you are showing
all the information specified in the README.
-->
<h1> {{person.header}} </h1>
<h3> {{person.description}} </h3>
<h3> Party: <a href="/party/{{person.party}}">{{person.party}}</a> </h3>
<h3> State: <a href="/state/{{person.stateLink}}">{{person.state}}</a> </h3>
<h3> Birthday: {{person.birthday}}</h3>
<a href="{{person.website}}">Website</a>