{{#each reps}}
	<div class="representative_div">
		<div class="rep_img_div">
			<img class="rep_img" src="/congress_pictures_files/high-res/{{this.govtrack_id}}-200px.jpeg">
		</div>	
		<div class="bio_div">
			<a href="/rep/{{this.bioguide_id}}"><h3>{{this.title}}. {{this.first_name}} {{this.last_name}} [{{this.party}} - {{this.state}}{{#if this.district}} (District {{this.district}}){{/if}}]</h3></a>
			<br>
			<p class="bio">{{this.bio}}</p>
		</div>
	</div>
{{/each}}

