<ul>
{{#each reps}}
<<<<<<< HEAD
    <li><a href="/rep/{{this.bioguide_id}}">{{this.title}} {{this.first_name}} {{this.last_name}}</a></li>
=======
<img src="/congress_pictures_files/{{this.govtrack_id}}-50px.jpeg"></img>
<li>{{this.title}} {{this.first_name}} {{this.last_name}}</li>
>>>>>>> origin/master
{{/each}}
</ul>
